RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteCond %{REQUEST_URI} !^/(contact|blog|services|about-us)(/|$)
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^.*$ / [R=301,L]

DirectorySlash Off
